body {
    background-color: black;
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 8px; 
    text-align: center;
}

.container {
    width: 90%;
    max-width: 500px;
    height: 500px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 130px red;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    padding: 20px;
}

input {
    width: 300px;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    border-style: ridge;
    text-align: center;
    border: 1px solid red;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin: 10px 0;
}

.btn {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    color: red;
    background-color: black;
    border: 1px solid rgb(53, 53, 53);
    font-size: large;
    cursor: pointer;
}

a {
    color: white;
    font-family: sans-serif;
    font-size: small;
}

/* Media Queries */
@media (min-width: 1024px) {
    .container {
        width: 500px;
        height: 500px;
        margin-top: 40px;
    }

    h1 {
        font-size: 2.5rem; 
    }

    input {
        max-width: 300px;
    }

    .btn {
        max-width: 300px;
    }

    a {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80%;
        height: 400px;
    }

    h1 {
        font-size: 2rem; 
    }

    input {
        max-width: 300px;
    }

    .btn {
        max-width: 300px;
    }

    a {
        font-size: 13px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .container {
        width: 80%;
        height: 400px;
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input {
        max-width: 200px;
    }

    .btn {
        max-width: 200px;
    }

    a {
        font-size: 12px;
    }
}

@media (min-width: 270px) and (max-width: 480px)  {
    .container {
        width: 70%;
        height: 350px;
        padding: 15px;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.2rem; 
    }

    input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    a {
        font-size: 11px;
    }
}
